project = "your_project_id"
appuser_public_key_path  = "~/.ssh/appuser.pub"
appuser_private_key_path = "~/.ssh/appuser"
sir0p_public_key_path    = "~/.ssh/id_rsa.pub"
disk_image               = "reddit-base"
name_app                 = "reddis-app"
name_db                  = "reddis-db"
count_app                = "1"
health_check_port        = "9292"
public_key_path          = "~/.ssh/appuser.pub"
